<div ng-style="{'background-color':selectedItem.color}">
    <div class="form-group">
        <label>Title</label>
        <input ng-model="selectedItem.title" class="form-control"/>
    </div>
    
    <div class="form-group">
          <label>Description</label>
          <input ng-model="selectedItem.des" class="form-control" />
    </div>
    
    <div class="form-group">
        <label>Color</label>
        <select ng-model="selectedItem.color" class="form-control">
        <option ng-repeat="c in colors" ng-value="c">{{c}}</option>
        </select>
    </div>
   
    
    <button ng-click="editNote()" class="btn btn-primary">Save</button>
</div>