<div ng-controller="mainController">
    <h1> List Note </h1>
    <p>Search <input ng-model="query"/></p>
    <ul>
        <li ng-repeat="item in list | filter : query" ng-style="{'background-color':item.color}" class="panel panel-default">
            <div class="panel-body">
                <p>Title : {{item.title}}</p>
                <p>Description : {{item.des}}</p>
                <a href="#/editNote/" class="btn btn-primary" ng-click="editNote(item)">Edit</a>
            </div>
        </li>
    </ul>
    
    <a href="#/addNote" class="btn btn-primary">Add new note</a>
</div>