<div ng-style="{'background-color':color}" ng-controller="addNoteController">
    <form name='form'>
         <div class="form-group">
        <label>Title</label>
        <input ng-model="title" class="form-control" required name='title'/>
        <div class="text-danger" ng-if="form.title.$invalid">Invalid title</div>
    </div>
    
    <div class="form-group">
          <label>Description</label>
          <input ng-model="des" class="form-control" />
    </div>
    
    <div class="form-group">
        <label>Color</label>
        <select ng-model="color" class="form-control">
        <option ng-repeat="c in colors" ng-value="c">{{c}}</option>
        </select>
    </div>   
    
    <a href="#/" ng-click="addNote()" class="btn btn-primary">Add Note</a>
        
    </form>
   
</div>