<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>AngularJS</title>
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <!-- endbower -->   
        <script src="app.js"></script>
        <!-- bower:css -->
        <!-- endbower -->
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body ng-controller="myController">
        <div class="container" >
            <input type="text" ng-model="name" />
            <button class="btn btn-primary" ng-click="add()">Add</button>
            <ul>
                <li ng-repeat="item in list">{{item.name}} at {{item.time | date:"HH:mm:ss"}}</li>
            </ul>
        </div>

    </body>
</html>

